<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template com Botões</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>

<body>
    <div class="container">
        <h1>Conversor de Unidades</h1>
        <h2>Escolha a unidade que deseja converter.</h2>
        <div class="button-container">
            <button onclick="window.location.href='/temperature'"class="btn">Temperatura</button>
            <button onclick="window.location.href='/weight'"class="btn btn-primary">Peso</button>
            <button onclick="window.location.href='/length'" class="btn btn-danger">Comprimento</button>
        </div>
    </div>
</body>

</html>