<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template com Botões</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/converter.css') }}" />
</head>

<body>
    <div class="container">
        <h1>Conversor de Unidades</h1>
        <h2>Escolha a unidade que deseja converter.</h2>
        <div class="button-container">
            <button onclick="window.location.href='/temperature'"class="btn">Temperatura</button>
            <button class="btn btn-primary no-hover">Peso</button>
            <button onclick="window.location.href='/length'" class="btn btn-danger">Comprimento</button>
        </div>
        <form action="/weight" method="POST">
            <div class="input-container-text">
                <input type="text" name="value" placeholder="Digite o valor" required />
            </div>
            <div class="input-container">
                <select name="from_unit" required>
                    <option value="">Escolha a unidade</option>
                    <option value="Milligram">Miligrama</option>
                    <option value="Gram">Grama</option>
                    <option value="Kilogram">Kilograma</option>
                    <option value="Ounce">Onça</option>
                    <option value="Pound">Libra</option>
                </select>
            </div>
            <div class="input-container">
                <select name="to_unit" required>
                    <option value="">Escolha a unidade</option>
                    <option value="Miligram">Miligrama</option>
                    <option value="Gram">Grama</option>
                    <option value="Kilogram">Kilograma</option>
                    <option value="Ounce">Onca</option>
                    <option value="Pound">Libra</option>
                </select>
            </div>
            <div class="button-container">
                <button type="submit" class="btn btn-converter">Converter</button>
            </div>
        </form>
        {% if error_message %}
            <h3 class="error">{{ error_message }}</h3>
        {% endif %}

        {% if result is not none %}
            <h3 class="result">Resultado: {{ result }}</h3>
        {% endif %}
    </div>
    </div>
    </div>
</body>

</html>